.color1 {
  background-color: #6311a8;
  background-image: none;
}
.color2 {
  background-color: #4d27cd;
  background-image: none;
}
.color3 {
  background-color: #cf3535;
  background-image: none;
}
.color4 {
  background-color: #00834c;
  background-image: none;
}

html,
body {
  height: auto;
}
.panel {
  height: 100vh;
  position: sticky;
  top: 0;
}

.ball {
  fill: white;
  visibility: hidden;
}

.line {
  fill: none;
  stroke: white;
  stroke-width: 2px;
}
text {
  fill: white;
  font-size: 15px;
  font-family: "Signika Negative", sans-serif;
  visibility: hidden;
}

svg#svg {
  height: 300px;
  position: absolute;
  left: 308px;
  background: blue;
  border-radius: 50%;
  overflow: hidden;
}
